# Node Modules
client/node_modules/
server/node_modules/

# Environment Variables
client/.env
server/.env

# Build Files
client/build/
client/dist/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

*.mp4
*.mov
*.avi