body {
    margin: 0;
    background: #0f172a;
    color: white;
}


.sidebar {

    width: 250px;
    min-height: 100vh;

    background: #111827;

    padding: 25px;

    color: white;

}


.logo {

    color: #3b82f6;

    margin-bottom: 40px;

}


.menu {

    display: flex;

    flex-direction: column;

    gap: 15px;

}


.menu-item {

    text-decoration: none;

    color: #94a3b8;

    padding: 12px;

    border-radius: 10px;

    transition: 0.3s;

}


.menu-item:hover {

    background: #1e293b;

    color: white;

}


.menu-item.active {

    background: #2563eb;

    color: white;

}


.logout {

    margin-top: 100px;

    color: #ef4444;

    cursor: pointer;

}

.top-navbar {

    height: 70px;

    background: #111827;

    border-bottom: 1px solid #1e293b;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 30px;

}


.top-navbar h4 {

    color: white;

    margin: 0;

}


.admin {

    color: #94a3b8;

}

.dashboard-card {

    background: #1e293b;

    padding: 25px;

    border-radius: 15px;

    color: white;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    transition: 0.3s;

}


.dashboard-card:hover {

    transform: translateY(-5px);

}


.dashboard-card h5 {

    color: #94a3b8;

}


.dashboard-card h2 {

    color: #3b82f6;

}

/* ===========================
   Company Management
=========================== */

.container{
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.container h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

hr{
    border: none;
    border-top: 1px solid #334155;
    margin: 35px 0;
}

label{
    display: block;
    color: #d1d5db;
    font-weight: 600;
    margin-bottom: 8px;
}

input,
textarea,
select{
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #334155;
    background: #111827;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus{
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 8px rgba(59,130,246,.4);
}

textarea{
    resize: vertical;
}

button{
    background: #16a34a;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
}

button:hover{
    background: #15803d;
    transform: translateY(-2px);
}